.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    width: 100%;
    background-color: rgb(42, 56, 63);
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1; 
    transition: background-color 0.5s ease; 
    justify-content: flex-end;
    overflow: hidden;
    overflow-y: hidden;

  }
  
  .header-navbar.scrolled {
    background-color: rgba(47, 64, 86, 0.8); 
    height: 80px;
    padding: 0 20px;
  }
  
  .logo {
    margin-right: 780px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
  }

  .logo:hover {
    margin-right: 780px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(21, 81, 118, 0.5);
    color: rgb(0, 0, 0);
  }
  
  .nav-links {
    display: relative;
    align-items: flex-start;
    width: 100%;
    margin-left: auto;

  }
  
  .nav-links a {
    margin-left: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .nav-links a i {
    margin-right: 115px;
  }
  
  .nav-links a:hover {
    color: rgb(0, 0, 0);
    padding: 0px;
    border-radius: 5px;
    text-decoration: wavy;
    text-decoration: solid;
    text-decoration-color: #0c89d1;
  }
