.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 80px;
  width: 100%;
  background-color: rgb(42, 56, 63);
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.5s ease;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo:hover {
  color: rgb(0, 0, 0);
}

/* burger menu  */

.MENU-1 {
  margin: 1rem;
  display: none;
}

.burger1 {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin: auto;
}

.burger1 input {
  display: none;
}

.burger1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  z-index: 11;
  transition: 0.25s ease-in-out;
}

.burger1 span:nth-of-type(1) {
  width: 80%;
  left: 10%;
  right: 10%;
  top: 0px;
  transform-origin: center left;
}

.burger1 span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-40%);
  transform-origin: center left;
}

.burger1 span:nth-of-type(3) {
  top: 100%;
  width: 80%;
  left: 10%;
  right: 10%;
  transform-origin: center left;
  transform: translateY(-90%);
}

.burger1 input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  width: 100%;
  left: 5px;
}

.burger1 input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger1 input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  width: 100%;
  left: 5px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0 4rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.nav-links ul li {
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}

@media (max-width: 700px) {
  .MENU-1 {
    display: block;
  }

  .nav-links ul {
    position: absolute;
    width: 60%;
    right: -100%;
    margin: 1.5rem 0 0 0;
    height: 110vh;
    /* padding: 1rem 0 0 0; */
    top: 0%;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    z-index: 10;
    padding: 10% 0;
    transition: all 0.4s ease-in-out;
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 6px rgb(42, 56, 63);
    backdrop-filter: blur(20px);
  }
  .nav-links.open-menu ul {
    right: 0%;
  }
}
